#formation-container{
  padding-bottom: 10vh;
  /* background-color: #656563; */
  color: #FFF;
  width: 100vw;
  background-image: url('../../../assets/img/fondEcranFormation.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  padding-top: 20vh;
}
#formations {
  /* position: relative; */
  font-size:calc(5px + 1.5vw);
  width: 95vw;
}

#formation{
  position: relative;
  font-size: calc(25px + 3vw);
  bottom: -50vh;
  height: 1ch;
  /* animation: appear 2s; */
  z-index: 2;
}

@keyframes appear {
  from{
    bottom: -50vh;

  }
  to{
    bottom: 0;
  }
}

#container-titre-formation{
  color: #FFF;
  position: absolute;
  border-bottom: solid;
  overflow: hidden;
  z-index: 1;
}

/* #formations{
  display: block;
} */

#dessin-trait{
  position: absolute;
  background-color: #01016F;
  width: 1px;
  height: 0;
  transition: height 6s;
  /* height: 230px; */
  /* height: 100%;
  left: 1vw;
  width: 1px;
  z-index: 9; */
}

.point{
  text-shadow:0 0 1px #000;
  color: #01016F;
}

.formation #date {
  overflow: hidden;
  margin-left: 20vw;
  display: block;
}

.formation{
  margin-bottom: 15vh;
}

@media (max-width: 500px){
  .formation{
    margin-bottom: 55px;
  }
}

.formation #date h3{
  /* position: relative; */
  margin: 5vmin;
  opacity: 0;
  animation-delay: calc(0.8s * var(--timer));
  vertical-align: middle;
  color: #01016F;
  font-size: calc(3vw + 15px);
}

.formation .formation-contenu{
  /* animation: appearContenu 3s; */
  animation-delay: calc(0.8s * var(--timer));
  opacity: 0;
  margin-left: 30vw;
  font-size: calc(2vw + 12px);
}

.logo-formations{
  margin-left: -100Vw;
  width: 25vw;
  position: absolute;

}

.formation .logo-formations{
  /* -webkit-animation: appearLogoFormation 10s;
  animation: appearLogoFormation 10s; */
  animation-delay: calc(0.8s * var(--timer));
}

.appearLogoFormation{
  animation: appearLogoFormation 1s;
  animation-fill-mode: forwards;
}

@keyframes appearLogoFormation {
  100%{
    margin-left: 0;
  }
};

@keyframes appearContenu {
  0%,60%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


.appearDate{
  animation: appearDate 1s;
  animation-fill-mode: forwards;
}

.appearContenu{
  animation: appearContenu 1.1s;
  animation-fill-mode: forwards;
}


@keyframes appearDate {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

a{
  color: #01016F;
}


/* #logoFormation{
  margin-top: 1vw;
  left: -100vw;
  width: 20vw;
  transition: .5s ease;
}


#logoDiplome{
  z-index: 0;
  right: -100vw;
  width: 10vw;
  transition: 4s ease;
}

.imgLogo{
  position: absolute;
} */
