<div id="container-titre-formation">
  <h1 id="formation">Formation</h1>

</div>
<div id="formation-container">
    <div id="dessin-formations">

      <div id="formations">
        <div id="formation1" class="formation">
          <h3 id="date">2020 - 2022</h3>
          Master informatique parcours E-Services | Génie logiciel :
          <a href="http://fil.univ-lille1.fr/">Université de Lille</a>.
        </div>
        <div id="formation2" class="formation">
          <h3>2018 - 2020</h3>
          Licence informatique :
          <a href="https://www.univ-lille.fr/">Université de Lille</a>.
        </div>
        <div id="formation3" class="formation">
          <h3>2016 - 2018</h3>
          BTS Services Informatique aux Organisations :
          <a href="https://www.gastonberger.fr/formations/bts/services-informatiques-aux-organisations/">Lycée Gaston Berger</a>.
        </div>
        <div id="formation4" class="formation">
          <h3>2012 - 2016</h3>
          Baccalauréat Scientifique :
          <a href="http://charlotteperriand.etab.ac-lille.fr/">Lycée Charlotte Perriand</a>.
        </div>
      </div>
    </div>
</div>
