<div id="presentation"></div>

<div id="anim-phrase-presentation">
  <div id="welcome">
    <div id="welcome-content">  Bienvenue sur le site de </div>
  </div>
  <div id="trait-milieu"></div>
  <div id="gael">
    Gaël BRICOUT
  </div>

</div>


<a href="#apppresentation" id="flechePresentation"></a>
<div id="global-container">
  <!-- <canvas id="canvas"></canvas> -->
  <app-presentation id="apppresentation"></app-presentation>
  <app-formation id="forma"></app-formation>
  <app-projets id="app-projet"></app-projets>
  <app-contact id="app-contact"></app-contact>
  <app-footer></app-footer>
</div>
