<div id="presentation"></div>

<div id="loader">
  <div class="loader-content">
    <span style="--timer:1;">L</span>
    <span style="--timer:2;">O</span>
    <span style="--timer:3;">A</span>
    <span style="--timer:4;">D</span>
    <span style="--timer:5;">I</span>
    <span style="--timer:6;">N</span>
    <span style="--timer:7;">G</span>
    <span style="--timer:8;">.</span>
    <span style="--timer:9;">.</span>
    <span style="--timer:10;">.</span>
  </div>
</div>

<div id="anim-phrase-presentation">
  <div id="welcome">
    <div id="welcome-content">  Bienvenue sur le site de </div>
  </div>
  <div id="trait-milieu"></div>
  <div id="gael">
    Gaël BRICOUT
  </div>

</div>


<a href="#apppresentation" id="flechePresentation"></a>
<div id="global-container">
  <!-- <canvas id="canvas"></canvas> -->
  <app-presentation id="apppresentation"></app-presentation>
  <app-formation id="forma"></app-formation>
  <app-projets id="app-projet"></app-projets>
  <app-contact id="app-contact"></app-contact>
  <app-footer></app-footer>
</div>
