<span id="gContacts"></span>

<div id="container-contact">
  <div id="container-titre">
    <h1 id="contact" class="titres">Contact</h1>

  </div>

  <h3 id="via-reseau" class="write">Via mes réseaux :</h3>
  <div id="container-reseaux">
    <div id="containerGrow" class="rsx">
      <img src="../../../assets/img/logoLinkedin.png" id='img' />
      <a href="https://www.linkedin.com/in/ga%C3%ABl-bricout-1b6957187/" id="linkContact">Gaël Bricout</a>
    </div>
    <div id="containerGrowMail" class="rsx">
      <img src="../../../assets/img/logomail.png" id='img' />
      <a id="mail">gael.bricout@laposte.net</a>
    </div>
  </div>

<h3 id="via-site" class="write">Ou via mon site :</h3>

<div class="">
    TODO / Pas encore programmé (service d'envoi de mail)
</div>
</div>
