#container-contact{
  background-color: #656563;
  color: #C8D3DB;
  padding-bottom: 5vh;
  background-image: url('../../../assets/img/fondEcranContact.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  margin-top: -6vh;
}

#contact{
  position: relative;
  font-size: calc(25px + 3vw);
  bottom: -50vh;
  height: 1ch;
  /* animation: appear 2s; */
}

@keyframes appear {
  from{
    bottom: -50vh;

  }
  to{
    bottom: 0;
  }
}

#container-titre{
  padding-top: 26px;
  color: #C8D3DB;
  display: inline-block;
  border-bottom: solid;
  overflow: hidden;
}

#containerGrow{
  background-color: #007BB6;
  border-radius: 10px;
  width: calc(30px + 8.5vw);
  height: calc(30px + 10vw);
  transition: width 1s;
  overflow: hidden;
  white-space: nowrap;
}

#linkContact{
  margin-left: 10vw;
  vertical-align: 70%;
  text-decoration: none;
  color:#FFFFFF;
  font-weight: bold;
  font-size: 5vw;
  margin-top:
}

#containerGrowMail{
  position: relative;
  background-color: #F8DB10;
  border-radius: 10px;
  width: calc(30px + 8.5vw);
  height: calc(30px + 10vw);
  transition: width 1s;
  overflow: hidden;
  white-space: nowrap;
}
#containerGrowMail:hover{
  width: 70vw;
}
#containerGrow:hover{
  width: 70vw;
}
#mail{
  vertical-align: 100%;
  margin-left: calc(12vw - 25px);
  color:#FFFFFF;
  font-weight: bold;
  font-size: 3.5vw;

}

#img{
  width: calc(30px + 10vw);
  height: calc(30px + 10vw);
}

#container-reseaux{
  margin-left: -15vw;
  transition: 1s;
  opacity: 0;
  transition-delay: 1.6s;
}

.rsx{
  margin: 3vmin;
}

h3{
  margin-left: 5vw;
  font-family: 'Helvetica Neue', sans-serif;
  /* opacity: 0; */
  transition: 1s;
  transition-delay: 1s;
  /* animation: write 2s steps(17); */
  overflow: hidden;
  white-space: nowrap;
  /* width: 15.5ch; */
  width: 0;
}

@keyframes write {
  from{
    border-right: 2px solid;
    width: 0;
  }
  to{
    width: 15ch;
    border-right: 2px solid;
  }
}

#via-site{
  animation-delay: 2s;
  border-right: 2px solid;
}
