#container-projets{
  position: relative;
  color: #656563;
  padding-bottom: 4vh;
  margin-top: -66px;
}

h3{
  font-family: 'Helvetica Neue', sans-serif;
}

#projet{
  position: relative;
  display: block;
  font-size: calc(25px + 3vw);
  padding-top: calc(6.5vh + 15px);
  text-align: center;

}

#canvas{
  position: absolute;
  width: 100%;
  height: 100%;

}

#projets{
  padding-bottom: 7vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  transition: 0.5s;

  justify-content: center;

}

#pres-git{
  margin-right: 5vw;
  font-size: calc(9px + 1vw);
  margin-left: -5vw;
  opacity: 0;
  transition: 1s;
  transition-delay: 1s;
  position: relative;
}

.projet {
  /* animation: dispProjets 10s; */
  position: relative;
  margin: 1vw;
  border: solid;
  border-radius: 20px;
  height: calc(220px + 10vw);
  width: calc(130px + 10vw);
  overflow: hidden;
  font-size: 0;
  cursor: pointer;
  transition: 0.8s;
  box-shadow: 1px 1px 15px 5px rgba(0,0,0,0.58);
}

.projets .projet{
  /* animation: dispProjets 2s; */
  opacity: 0;
  animation-fill-mode: forwards;
  animation-delay: calc(0.7s * var(--timer));
}

.dispProjets{
  animation: dispProjets 1s;
}


@keyframes dispProjets {
  0%,40%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.projet:hover{
  box-shadow: 1px 1px 6px 5px rgba(0,0,0,0.58);
}

.projet:hover > .presentation-projet{
  top: 0;
}

#langages{
  margin-top: calc(4.5px + 0.5vmin);
  color: #E7ECEF;
  text-decoration: underline;
}


.projet .presentation-projet{
  position: absolute;
  top: 70%;
  background-color: rgba(31,42,135,0.7);
  width: 100%;
  height: 70%;
  z-index: 2;
  text-align: center;
  justify-content: center;
  color: #FFF;
  font-size: 9px;
  transition: 0.3s;
}

.projet .presentation-projet #titre-presentation-projet {
  margin: auto;
  margin-top: 2%;
  opacity: 0;
  width: 95%;
  font-size: calc(16px + 1vw);
  transition: 0.4s;
  transition-delay: 0.3s;
}

.projet:hover > .presentation-projet #titre-presentation-projet{
  margin-top: 6%;
  opacity: 1;
}

.projet .presentation-projet #trait-sep-pres-projet {
  position: relative;
  height: 1px;
  background-color: #FFF;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 0;
  transition: 0.4s;
  transition-delay: 0.4s;
}


.projet:hover > .presentation-projet #trait-sep-pres-projet{
  width: 80%;
}

.projet .presentation-projet #description-presentation-projet {
  font-size: calc(8px + 0.2vw);
  width: 80%;
  margin: auto;
  margin-top: 60vmin;
  transition: 0.4s;
  transition-delay: 0.6s;
}

.projet:hover > .presentation-projet #description-presentation-projet{
  margin-top: 2vmin;
}

.projet .titre-projet{
  position: absolute;
  text-align: center;
  background-color: #1E2987;
  color: #E7ECEF;
  font-size: calc(6px + 1.5vmin);
  height: 30%;
  top: 70%;
  z-index: 9;
  padding: 10px;
}

.projet img{
  position: absolute;
  transition: 0.3s;
  height: 70%;
  width: 100%;
  transform: scale(1.05);
  filter: grayscale(100%);
  z-index: 1;
}

.projet:hover > img {
  transform: scale(1.1);
  filter: none;
}

.modal{
  position: fixed; /* Stay in place */
  z-index: 199; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  overscroll-behavior-y: contain;
}

.modal-content{
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 3vmin;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 15px;
  overflow: auto;
}

.modal-content img{
  width: 100%;
}

#anim-chat{
  margin-left: -10vw;
  transition: 1s;
  transition-delay: 1.5s;
  opacity: 0;
}

#modalStage2018{
  transition: 1s;
  height: 0;
  opacity: 0;
}

#modalStage2017{
  transition: 1s;
  opacity: 0;
  height: 0;
  /* margin-left: -200vw; */
}


/* img{
  margin-left: -50vw;
  transition: 1s;
} */

.modal .close-modal{
  position: absolute;
  right: 10vw;
  top: 10vh;
  border: solid;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  padding: 1px;
  font-weight: bold;
  cursor: pointer;
  background-color: #FFF;
  transition: 0.4s;
}
.modal .close-modal #p{
  transition:transform .8s ease-in-out;
}

.modal .close-modal:hover > #p{
  transform: rotate(360deg);
}

.modal .close-modal:hover {
  transform: scale(1.2);
  color: #800000;
}

#barre-projet{
  position: relative;
  display: flex;
  justify-content: center;
  /* margin-top: 20vh; */
  opacity: 0;
  transition: 2s;
  transition-delay: 1.5s;
}

#barre-projet .barre-projet-content{
  margin: 1vmin;
  cursor: pointer;
  font-size: calc(6px + 2vw);
}



#barre-projet .barre-projet-content:after {
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0;
    transition: width .5s ease, background-color .5s ease;
}
#barre-projet .barre-projet-content:hover:after {
    width: 90%;
    background: #444;
}

#containerGrowGIT{
  position: relative;
  background-color: #171515;
  border-radius: calc(15px + 5vw);
  width: calc(30px + 10vw);
  height: calc(30px + 10vw);
  transition: width 1s;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 5vw;
}
#containerGrowGIT:hover{
  width: 80vw;
}

#containerGrowGIT:hover > #gitLinkToAppear{
  opacity: 1;
}

#containerGrowGIT:hover > #imgGit{
  transform: translateX(calc(80vw - (calc(30px + 10vw)))) rotate(720deg);
}
#gitLinkToAppear{
  position: absolute;
  margin-left:calc(10vw - 25px);
  margin-top: 3.5vh;
  text-decoration: none;
  color:#FFFFFF;
  font-weight: bold;
  font-size: calc(1px + 6vw);
  opacity: 0;
  transition: 0.4s;
}

#imgGit{
  width: calc(30px + 10vw);
  height: calc(30px + 10vw);
  transition-property: transform;
  transition-duration: 1s;
}
