<div id="checkBox-pres">
  <div (click)="toggle1()" class="checkBoxesWH"> <div id="timerCkeck1" class="timer"></div> </div>
  <div (click)="toggle2()" class="checkBoxesWH"> <div id="timerCkeck2" class="timer"></div> </div>
  <div (click)="toggle3()" class="checkBoxesWH"> <div id="timerCkeck3" class="timer"></div> </div>
  <div (click)="toggle4()" class="checkBoxesWH"> <div id="timerCkeck4" class="timer"></div> </div>
</div>
<!-- <div id="container-presentation"> -->
  <div [@switchPresentations]="value" id="phrase-de-presentation">
    <!-- <a href="#pres3">test</a> -->
     <div id="pres1" class="pres">
       Je suis étudiant en troisième année de Licence Informatique à l’Université de Lille.
       J'ai réalisé ce portefolio dans le but de m'entraîner et d'apprendre de nouveaux langages,
       utiles pour mon projet professionnel et mes futurs stages.
     </div>
     <div id="pres2" class="pres">
       Passionné par l'informatique, et plus particulièrement par le développement, j'aimerais
       orienter mon avenir vers les métiers du E-services (le Front-end, les IHM, le développement
       mobile) et de développeur full-stack.
     </div>
     <div id="pres3" class="pres">
      Je suis créatif, curieux et déterminé. J'aime mener mes projets à terme, jusqu'à
      obtenir le résultat le plus parfait et abouti, possible.
     </div>
     <div id="pres4" class="pres">Ce site me sert d'outil avant tout, il
       est donc largement susceptible de changer et d'être modifié. Il y a des problèmes d'optimisation, que je tente de rêgler, de manière autodidacte.
       Mon portfolio a été réalisé entièrement en JavaScript(Angular) / HTML / CSS.
     </div>

   </div>


<div id="container-titre-comp">
  <h1 id="competence">Compétences</h1>
</div>

<div id="container-competences">
  <div id="barreProgressionVide">
    <div class="remplissage" id="a75">Confirmé</div>
    <div id="contenuCompetences" class="contenuComp">Java | Photofiltre | HTML | CSS | JS | Python | SQL</div>
  </div>
  <div id="barreProgressionVide">
    <div class="remplissage" id="a50">Apprenti</div>
    <div id="contenuCompetences" class="contenuComp">Visual Basic | C# | React | Angular | Photoshop</div>
  </div>
  <div id="barreProgressionVide">
    <div class="remplissage" id="a25">Notions</div>
    <div id="contenuCompetences" class="contenuComp">Node | PHP | C | Prolog</div>
  </div>
</div>
