#phrase-de-presentation{
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 105vh;
  opacity:0;
  text-align: center;
  padding-bottom: 1vh;
  font-size: calc(5px + 2vw);
  font-weight: bold;
  color: #656563;
}


#phrase-de-presentation .pres{
  padding: 2vmin;
  margin-right: 100vw;
  width: 80vw;
  border-radius: 10vmin;
  height: 100%;

}

#barreProgressionVide{
  position: relative;
  width:80vw;
  margin-bottom: 9VH;
  margin-top: 8VH;
  font-size: 2.5vmin;
	background:#87D6DF;
  border: solid;
  border-color: #656563;
  border-radius: 10px;
  color: #FFFFFF;
  text-align: center;
  align-items: center;
}

.remplissage{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background:#656563;
  animation-duration: 2.2s;
  /* animation-name: avancement; */
  animation-iteration-count: 1;
}
#a75{
  /* width: 75%; */
  width: 0;
}
#a50{
  /* width: 50%; */
  width: 0;

}
#a25{
  /* width: 25%; */
  width: 0;

}


@KeyFrames avancement{
  from {
    width: 0%;
  }

  to {
    width: 75%, 50%, 25%;
  }
}

#contenuCompetences{
  position: absolute;
  margin-top: 1vmin;
  font-family: "Lucida Console", Monaco, monospace;
  color:#080C2A;
  font-size: calc(5px + 2.4vmin);
}

#container-competences {
  margin-left: 10vw;
}


#checkBox-pres{
  /* position: absolute; */
  left: 0;
  /* left: -30vw; */
  /* margin-top:1vh; */
  /* padding: 0vh 2px 1.3vh 2px; */
  border-radius: 20px;
  display: flex;
  width: 100vw;
  padding-bottom: 50vh;
  padding-top: 10vh;
}

.checkBoxesWH{
  /* position: relative; */
  appearance: none;
  /* width:100px; */
  height:5px;
  border-radius: 10%;
  background-color: #87D6E7;
  left: 0;
  transition: 0.4s;
  cursor: pointer;
  outline : none;
}

.checkBoxesWH:checked{


  background-color: #000;
}

.checkBoxesWH:hover{
}



/* input[type="checkbox"]{
  width: 150px;
  height: 150px;
  background-color: black;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #000;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
} */

/* #container-presentation{
  display: flex;
  flex-direction: column;
} */
