/* @media (max-width: 600px){
  #checkBox-pres{
    padding-bottom: 240px;
  }
} */

#phrase-de-presentation{
  /* position: absolute; */
  display: flex;
  width: 700vw;
  flex-direction: row;
  top: 25vh;
  opacity:0;
  text-align: center;
  font-size: calc(8.5px + 3vw);
  color: #656563;
  font-family: 'Optima', sans-serif;
  margin-left: 10vw;
}

#phrase-de-presentation .pres{
  /* position: relative; */
  padding: 2vmin;
  margin-right: 100vw;
  width: 100vw;
  border-radius: 10vmin;
  height: 100%;
}



#competence{
  position: relative;
  font-size: calc(15px + 3vw);
  height: 1ch;
  bottom: -50vh;
  /* animation: appear 2s forwards; */
}

@keyframes appear {
  from{
    bottom: -50vh;
  }
  to{
    bottom: 0;
  }
}

#container-titre-comp{
  color: #000;
  display: inline-block;
  /* position: absolute; */
  border-bottom: solid;
  overflow: hidden;
}



#barreProgressionVide{
  position: relative;
  width:80vw;
  margin-bottom:9VH;
  margin-top: 7VH;
  font-size: 2.5vmin;
	background:#87D6DF;
  border: solid;
  border-color: #656563;
  border-radius: 10px;
  color: #FFFFFF;
  text-align: center;
}

.remplissage{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background:#656563;
  animation-duration: 2.2s;
  /* animation-name: avancement; */
  animation-iteration-count: 1;
}
#a75{
  /* width: 75%; */
  width: 0;
}
#a50{
  /* width: 50%; */
  width: 0;

}
#a25{
  /* width: 25%; */
  width: 0;

}


@KeyFrames avancement{
  from {
    width: 0%;
  }

  to {
    width: 75%, 50%, 25%;
  }
}

#contenuCompetences{
  position: absolute;
  margin-top: -5vmin;
  opacity: 0;
  font-family: "Lucida Console", Monaco, monospace;
  color:#080C2A;
  font-size: calc(5px + 2.4vmin);
  transition: 1.5s;
}

#container-competences {
  z-index: 3;
  margin-left: 10vw;
}


#checkBox-pres{
  display: flex;
  flex-direction: row;
  /* padding-bottom: 60vh; */
  padding-top: 8vh;
  justify-content: center;
}

#checkBox-pres .checkBoxesWH{
  width: calc(5px + 1.5vw);
  height: calc(5px + 1.5vw);
  border-radius: 2vw;
  margin: calc(3px + 2vw);
}


.checkBoxesWH{
  /* position: relative; */
  appearance: none;
  /* width:100px; */
  height:5px;
  border-radius: 10%;
  background-color: #87D6E7;
  left: 0;
  transition: 0.4s;
  cursor: pointer;
  outline : none;
  overflow: hidden;
}


@keyframes time {
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}

.checkBoxesWH .timer{
  position: relative;
  width: 0;
  height: 100%;
  background-color: #000;

}

/* #timerCkeck1{
  -webkit-animation: time 9s steps(60);
  animation: time 9s steps(60);
} */

 #checkBox-pres .checkBoxesWH:hover{
  background-color: #656563;
}



/* input[type="checkbox"]{
  width: 150px;
  height: 150px;
  background-color: black;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #000;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
} */

/* #container-presentation{
  display: flex;
  flex-direction: column;
} */
