#topbar-liens {
  /* display: flex; */
  padding: 5vmin 0px;
  position: fixed;
  width: 100%;
  top: -40vh;
  left: 0;
  transition: 0.4s;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 99;
}

#topbar-liens a {
  padding: 0.6vw;
  text-decoration: none;
  color: #000;
  font-size:calc(5px + 1.7vw);
  transition: 0.4s;
}

#topbar-liens a:hover{
  border-bottom: solid;
}

#topbar-right{
  float: right;
  margin-right: 2vw;
}
