#container-footer{
  background-color: #1E2023;
  color: #FFF;
  /* padding-bottom: 5vh; */
}


#footer-pres{
  position: relative;
  font-size: calc(15px + 3vw);
  bottom: -50vh;
  height: 0.5em;
}

#container-titre-footer{
  margin-top: -4vh;
  display: inline-block;
  color: #C8D3DB;
  border-bottom: solid;
  overflow: hidden;
}


@keyframes appear {
  from{
    bottom: -50vh;

  }
  to{
    bottom: 0;
  }
}

.modal{
  position: fixed;
  z-index: 199;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  overscroll-behavior-y: contain;
}

.modal-content{
  background-color: #fefefe;
  margin: 3% auto; /* 15% from the top and centered */
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 15px;
  max-height: 95vh;
  overflow: auto;
}

#modalCV{
  height: 0;
  transition: 1s;
  opacity: 0;
}

.modal .close-modal{
  position: absolute;
  right: 15vw;
  border: solid;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  padding: 1px;
  font-weight: bold;
  cursor: pointer;
  background-color: #FFF;
  transition: 0.4s;
  color: #000;
}
.modal .close-modal #p{
  transition:transform .8s ease-in-out;
}

.modal .close-modal:hover > #p{
  transform: rotate(360deg);
}

.modal .close-modal:hover {
  transform: scale(1.2);
  color: #800000;
}


.content-footer{
  padding: 3vmin;

}

.btn{
  display: inline-block;
  border: solid;
  text-decoration: none;
  text-align: center;
  top:1vw;
  padding: 1.5vmin;
  color: #FFFFFF;
  border-radius: 50px;
  border-width: 1px;
  cursor: pointer;
  margin: 3vmin;
}


#contenuExperience .btn:hover{
  animation: animationBtn 1s linear alternate infinite;
}

@keyframes animationBtn {
  from {
    background-color: black;
    border-radius: 50px;
  }
  to {

    background-color: white;
    color:black;

  }
}

#container-all-footer{
  padding-bottom: 7vh;
  position: relative;
  display: flex;
  transition: 0.5s;
  font-size: calc(6px + 1vw);
}

#container-cv{
  width: 40vw;
  border-right: solid;
  border-width: 0.5px;

}
